<%- include("partials/headerManagement"); -%>
<%if(users.length === 0){console.log(users.length);%>

           <div class="db-status">
             <p>
               <i class=" empty-database fas fa-exclamation-triangle"></i>
               </p>

                <p class="db-status-info">
                  No Subscriber Found
                  </p>
           </div>


  <%}else{%>
   <% users.forEach((user) => {%>

   <a class="subs-top-container" href="/subscriptions/<%=user._id%>">

     <div class="user-card">
       <div class="container-card">
        <div class="row-container">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <img class="profile-image" src="data:user/<%=user.profilepic.contentType%>;base64,<%=user.profilepic.data.toString('base64')%>" alt="profile-pic">
              </div>
              <div class="col-sm-6">
                <h4 style="margin-top : 10px;"><%=user.fname + " "+ user.lname%></h4>
                <div class="para-info">
                  <p><%=user.dob%></p>
                  <p><%=user.pnum1%></p>
                  <p><%=user.hno%></p>
                  <p><%=user.city%></p>
                  <p><%=user.email%></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 right-info">
            <div class="row">
              <div class="col">
                <h4>GYM ID</h4>
                <p><%=user._id%></p>
                <div class="para-info">
                  <p><%=user.type%></p>
                  <p><%=user.package%> months</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="time-rem"><%=user.startDate.toLocaleString()%></p>
                <p class="time-rem"><%=user.endingDate.toLocaleString()%></p>
              </div>
 
            </div>
          </div>
        </div>
        <div class="percentage-bar-container<%=user._id%>"style="height: 8px; margin-top: 15px;margin-left: auto; margin-right: auto;width: 100%; border-radius: 10px;">
 
        </div>
       </div>
       
     </div>
   </a>
   <input type="text" style="display: none;" class="id1" value="<%=user._id%>">
   <input type="text" style="display: none;" class="pkg1" value="<%=user.package%>">
   <input type="text" style="display: none;" class="stDate1" value="<%=user.startDate%>">
   <input type="text" style="display: none;" class="enDate1" value="<%=user.endingDate%>">
   <script src="/scripts/subscriptionStatus.js"></script>
   <%});}%>


<%- include("partials/footer"); -%>
