<%- include("partials/headerManagement"); -%>

<h1></h1>
<div class="form form-info">
<div class="status-bar">

  <p class="status-content"></p>
  
</div>
  <button type="button" name="edit" id="editButton" onclick="return editButton()"><i class="fas fa-user-edit"></i></button>
  <div class="form-container">
    <form class="users-detail" id="userInfo" style="margin-bottom : 50px; padding-bottom:50px;" method ="post"action="/subscriptions/<%=foundUser._id%>">


      <div class="form-row">
        <div class="col-auto">
          <div class="image-userInfo">

            <img class="profile-image-userInfo" src="data:foundUser/<%=foundUser.profilepic.contentType%>;base64,<%=foundUser.profilepic.data.toString('base64')%>" alt="profile-pic">
          </div>
          <div class="gymId">
             <h4>GYM ID : <span><%=foundUser._id%></span></h4>
          </div>

        </div>
        <div class="col-auto">
          <div class="form-row">
            <div class="col-auto">
              <label for="inline1">First name</label>
              <input type="text" name="fname" class="form-control" id="inline1" value="<%=foundUser.fname%>" disabled required autocomplete="on">
            </div>
            <div class="col-auto colright">
              <label for="inline2">Last name</label>
              <input type="text" name="lname" class="form-control" id="inline2"  value="<%=foundUser.lname%>" disabled required autocomplete="on">
            </div>
          </div>
          <div class="form-row">
            <div class="col-auto">
              <label for="inline4">Phone Number</label>
              <input type="tel" name="pnum1" class="form-control" value="<%=foundUser.pnum1%>" id="inline3" disabled required autocomplete="on">
            </div>
            <div class="col-auto colright">
              <label for="inline3">second Phone Number</label>
              <input type="tel" name="pnum2" class="form-control" value="<%=foundUser.pnum2%>" id="inline4" disabled autocomplete="on">
            </div>
          </div>

          <div class="form-row">
            <div class="col-auto">
              <label for="inline5">House No.</label>
              <input type="text" name="hno" class="form-control" value="<%=foundUser.hno%>" id="inline5"  disabled required autocomplete="on">
            </div>
            <div class="col-auto">
              <label for="inline6">City</label>
              <input type="text" name="city" class="form-control" value="<%=foundUser.city%>" id="inline6"  disabled required autocomplete="on">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="inline7">D.O.B</label>
          <input type="date" name="dob" class="form-control" id="inline7" value="<%=foundUser.dob%>" disabled required autocomplete="on">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Sex</label>
            <select name="sex" class="form-control" disabled id="exampleFormControlSelect1" value="<%=foundUser.sex%>" required>

              <option>Male</option>
              <option>Female</option>
              <option>Others</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="inline8">email</label>
          <input type="email" name="email" class="form-control" id="inline8"  disabled value="<%=foundUser.username%>" required autocomplete="on">
        </div>
      </div>

      <div class="form-row">
        <div class="col-auto">
          <label for="inline9">Family member name</label>
          <input type="text" name="famName" class="form-control" value="<%=foundUser.famName%>"  disabled id="inline9" required autocomplete="on">
        </div>
        <div class="col-auto">
          <label for="inline10">Relation</label>
          <input type="text" name="relation" class="form-control"  disabled value="<%=foundUser.relation%>" id="inline10" required autocomplete="on">
        </div>
        <div class="col-auto colright">
          <label for="inline11"> phone number</label>
          <input type="tel" name="famPnum" class="form-control" value="<%=foundUser.famPnum%>"  disabled id="inline12" autocomplete="on">
        </div>
      </div>

      <div class="form-row">
        <div class="col-auto">

          <label for="inline13">
            Bone Injury
          </label>
          <input type="text" name="boneInjury" value="<%=foundUser.boneInjury%>"  disabled id="inline13" class="form-control" required autocomplete="on">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="inline15">Any disease ?</label>
          <textarea name="disease" class="form-control" id="inline15" value="<%=foundUser.disease%>" autocomplete="on" disabled></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="col-auto">
          <div class="form-group">
            <label for="package">Package</label>
            <select name="package" class="form-control" id="package"  value="<%=foundUser.package%>" disabled>

              <option value ="1">1 month</option>
              <option value ="3">3 month</option>
              <option value="6"> 6 month</option>
              <option value="12">1year</option>
              <option value="18">1.5years</option>
            </select>
          </div>
        </div>
        <div class="col-auto">

          <div class="form-group">
            <label for="type">type</label>
            <select name="type" class="form-control" id="type"  value="<%=foundUser.type%>" disabled>

              <option value="1">Aerobics</option>
              <option value="2">cardio</option>
              <option value="3">Weight Lifting</option>
              <option value="4">chest</option>
              <option value="5">Legs</option>
            </select>
          </div>

        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="inline16">Starting Date</label>
          <input type="date" name="startDate" class="form-control" id="inline16" value="" disabled required autocomplete="on">
        </div>
      </div>


      <div class="form-row">


        <button type="submit"  class="subbtn" name="action" value="Update" id="saveBtn" hidden>Save</button>
        <button type="submit" class="subbtn"  formaction="/delete/<%=foundUser._id%>" name="action" value="Delete" id="delBtn" hidden>Delete</button>
         <button  class="subbtn editBtn" id="editBtn" onclick=" return editButton()">Edit</button>
      </div>

    </form>
   <input type="text" style="display: none;" class="enDate" value="<%=foundUser.endingDate%>" >
   <input type="text" style="display: none;" class="stDate" value="<%=foundUser.startDate%>" >
   <input type="text" style="display: none;" class="pkg" value="<%=foundUser.package%>" >

    
  </div>
</div>
<script src="/scripts/userInfoStatus.js"></script>
<script src="/scripts/startDate.js"></script>
<%- include("partials/footer"); -%>
